
Your WhatMyFriendsLike.com Account has been updated.

If you need your MySpace html code, please visit 
http://www.WhatMyFriendsLike.com and click 'Get Your Code'

You're receiving this email because you signed up for 
WhatMyFriendsLike.com. If you would like your account removed 
please send an email to admin@whatmyfriendslike.com from the 
email address you used to sign up.




